## Liste de locaux et communes
Données tirées du [site de l'Etat de Genève](https://www.ge.ch/votations/20180304/federal/)

In [1]:
# import libraries
import pandas as pd
# import files
df_raw = pd.read_csv('./DATA_format_JSON/listeLocaux.csv', delimiter=';')
df_raw.head()

,commune_no,local_no,local-commune_nom,electorat,cartes-de-vote,bulletins,nuls,q1_blancs,q1_blancs_pc,q1_valables,...,q1_non_pc,q1_participation,q2_blancs,q2_blancs_pc,q2_valables,q2_oui,q2_oui_pc,q2_non,q2_non_pc,q2_participation
0,1,1,Aire-la-Ville,718,491,491,0,25,5.09%,466,...,14.59%,68.38%,6,1.22%,485,106,21.86%,379,78.14%,68.38%
1,2,1,Anières,1'313,869,869,0,20,2.30%,849,...,7.77%,66.18%,8,0.92%,861,178,20.67%,683,79.33%,66.18%
2,3,1,Avully,1'100,628,626,0,47,7.51%,579,...,15.72%,57.09%,8,1.28%,618,129,20.87%,489,79.13%,57.09%
3,4,1,Avusy,1'000,632,632,0,19,3.01%,613,...,9.46%,63.20%,1,0.16%,631,119,18.86%,512,81.14%,63.20%
4,5,1,Bardonnex,1'371,896,896,0,40,4.46%,856,...,14.49%,65.35%,7,0.78%,889,201,22.61%,688,77.39%,65.35%

In [14]:
# create new df and drop unnecessary columns
df_edt = df_raw.drop(['electorat', 'cartes-de-vote', 'bulletins','nuls','q1_blancs','q1_blancs_pc'
                      ,'q1_valables','q1_oui','q1_oui_pc','q1_non','q1_non_pc','q1_participation'
                      ,'q2_blancs','q2_blancs_pc','q2_valables','q2_oui','q2_oui_pc','q2_non','q2_non_pc'
                      ,'q2_participation'], axis=1)
df_edt.reset_index(drop=True, inplace=True)
df_edt.head()

   commune_no  local_no local-commune_nom
0           1         1     Aire-la-Ville
1           2         1           Anières
2           3         1            Avully
3           4         1             Avusy
4           5         1         Bardonnex

In [18]:
# remove accents and spec chars from local-commune_nom
# remove accents from local-commune_nom
df_edt['local-commune_nom'] = df_edt['local-commune_nom'].str.lower()
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='à',value='a')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='â',value='a')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='ä',value='a')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='é',value='e')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='è',value='e')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='ê',value='e')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='ï',value='i')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='ö',value='o')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='ô',value='o')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='ù',value='u')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace='ü',value='u')
# remove spec chars from local-commune_nom
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace=" - ",value=' ')
df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace="-",value=' ')
#df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace="'",value='_')
#df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace="   ",value=' ')
#df_edt['local-commune_nom'].replace(regex=True,inplace=True,to_replace=" ",value='_')
df_edt.head()

   commune_no  local_no local-commune_nom
0           1         1     aire la ville
1           2         1           anieres
2           3         1            avully
3           4         1             avusy
4           5         1         bardonnex

In [19]:
# create value colum
df_local = df_edt.rename(index=str, columns={"local-commune_nom": "value"})
# create entity column in copy of dataframe
df_local['entity'] = 'LocalDeVote'
df_local.head()

   commune_no  local_no          value       entity
0           1         1  aire la ville  LocalDeVote
1           2         1        anieres  LocalDeVote
2           3         1         avully  LocalDeVote
3           4         1          avusy  LocalDeVote
4           5         1      bardonnex  LocalDeVote

In [20]:
# create synonyms column
df_local['synonyms'] = df_local['value'] + ":" + df_local['local_no'].astype(str)
# clean up synonyms column
df_local['synonyms'].replace(regex=True,inplace=True,to_replace=' - ',value=':')
df_local['synonyms'].replace(regex=True,inplace=True,to_replace='-',value=' ')
df_local['synonyms'].replace(regex=True,inplace=True,to_replace=' ',value=':')
df_local['synonyms'].replace(regex=True,inplace=True,to_replace=':::',value=':')
df_local['synonyms'].replace(regex=True,inplace=True,to_replace='_',value=':')
df_local.head()

   commune_no  local_no          value       entity         synonyms
0           1         1  aire la ville  LocalDeVote  aire:la:ville:1
1           2         1        anieres  LocalDeVote        anieres:1
2           3         1         avully  LocalDeVote         avully:1
3           4         1          avusy  LocalDeVote          avusy:1
4           5         1      bardonnex  LocalDeVote      bardonnex:1

In [21]:
# drop local_no and comune no
df_local.drop(['commune_no', 'local_no'], axis=1, inplace=True)
df_local.head()

           value       entity         synonyms
0  aire la ville  LocalDeVote  aire:la:ville:1
1        anieres  LocalDeVote        anieres:1
2         avully  LocalDeVote         avully:1
3          avusy  LocalDeVote          avusy:1
4      bardonnex  LocalDeVote      bardonnex:1

In [22]:
# create value colum
df_commune = df_edt.rename(index=str, columns={"local-commune_nom": "value"})
# create entity column in copy of dataframe
df_commune['entity'] = 'Commune'
df_commune.head()

   commune_no  local_no          value   entity
0           1         1  aire la ville  Commune
1           2         1        anieres  Commune
2           3         1         avully  Commune
3           4         1          avusy  Commune
4           5         1      bardonnex  Commune

In [23]:
# create synonyms column
df_commune['synonyms'] = df_commune['value'] + ":" + df_commune['local_no'].astype(str)
# clean up synonyms column
df_commune['synonyms'].replace(regex=True,inplace=True,to_replace=' - ',value=':')
df_commune['synonyms'].replace(regex=True,inplace=True,to_replace='-',value=' ')
df_commune['synonyms'].replace(regex=True,inplace=True,to_replace=' ',value=':')
df_commune['synonyms'].replace(regex=True,inplace=True,to_replace=':::',value=':')
df_commune['synonyms'].replace(regex=True,inplace=True,to_replace='_',value=':')
df_commune.head()

   commune_no  local_no          value   entity         synonyms
0           1         1  aire la ville  Commune  aire:la:ville:1
1           2         1        anieres  Commune        anieres:1
2           3         1         avully  Commune         avully:1
3           4         1          avusy  Commune          avusy:1
4           5         1      bardonnex  Commune      bardonnex:1

In [24]:
# drop local_no and comune no
df_commune.drop(['commune_no', 'local_no'], axis=1, inplace=True)
df_commune.head()

           value   entity         synonyms
0  aire la ville  Commune  aire:la:ville:1
1        anieres  Commune        anieres:1
2         avully  Commune         avully:1
3          avusy  Commune          avusy:1
4      bardonnex  Commune      bardonnex:1

In [25]:
# export to csv
df_local.to_csv('./electionBot_sBox/locals-Entities.csv',index=False)
df_commune.to_csv('./electionBot_sBox/communes-Entities.csv',index=False)