## Adding google Translate synonyms to entities
This is required because of translation

In [21]:
# import libraries
import pandas as pd
import numpy as np

In [22]:
# import files
df_candidates = pd.read_csv('./electionBot_sBox/archive/candidates-Entities_v3_edt.csv')
df_commune = pd.read_csv('./electionBot_sBox/archive/communes-Entities.csv')
df_liste_CE = pd.read_csv('./electionBot_sBox/archive/liste-CE-Entities.csv')
df_liste_GC = pd.read_csv('./electionBot_sBox/archive/liste-GC-Entities.csv')
df_locals = pd.read_csv('./electionBot_sBox/archive/locals-Entities.csv')

In [23]:
# all files toLower for GoogleTranslate
df_candidates['synonyms'] = df_candidates['synonyms'].str.lower()
df_commune['synonyms'] = df_commune['synonyms'].str.lower()
df_liste_CE['synonyms'] = df_liste_CE['synonyms'].str.lower()
df_liste_GC['synonyms'] = df_liste_GC['synonyms'].str.lower()
df_locals['synonyms'] = df_locals['synonyms'].str.lower()

In [24]:
# export csv files for use in GoogleTranslate
df_candidates.to_csv('./electionBot_sBox/entities/candidates-Entities_v5.csv',index=False)
df_commune.to_csv('./electionBot_sBox/entities/communes-Entities_v3.csv',index=False)
df_liste_CE.to_csv('./electionBot_sBox/entities/liste-CE-Entities_v3.csv',index=False)
df_liste_GC.to_csv('./electionBot_sBox/entities/liste-GC-Entities_v3.csv',index=False)
df_locals.to_csv('./electionBot_sBox/entities/locals-Entities_v3.csv',index=False)

In [25]:
# add synonyms to df_candidates
df_candidates.head()

     entity              value                       synonyms
0  Depute_e        PAGANI Rémy                    rémy:pagani
1  Depute_e      WENGER Saliha           saliha:wenger:salika
2  Depute_e    ZAUGG Christian  christian:zaugg:zaug:zog:zogg
3  Depute_e    HALLER Jocelyne          jocelyne:haller:haler
4  Depute_e  ENILINE Alexander              alexander:eniline

In [26]:
# import googleTranslates
df_candidatesTranslates = pd.read_csv('./electionBot_sBox/googleTranslateEntities/candidates_translates.csv', delimiter=':', header=None)
df_candidatesTranslates.head()

                 0         1        2     3      4    5    6    7
0             Remy    pagani      NaN   NaN    NaN  NaN  NaN  NaN
1           saliha    wenger   Salika   NaN    NaN  NaN  NaN  NaN
2        christian     zaugg     Zaug   zog   Zogg  NaN  NaN  NaN
3  Jocelyne haller      haul      NaN   NaN    NaN  NaN  NaN  NaN
4        alexander   eniline      NaN   NaN    NaN  NaN  NaN  NaN

In [27]:
# add synonyms to df_candidates
df_candidates['synonyms'] = (df_candidates['synonyms']
                           + ':' + df_candidatesTranslates[0].astype(str) 
                           + ':' + df_candidatesTranslates[1].astype(str)
                           + ':' + df_candidatesTranslates[2].astype(str) 
                           + ':' + df_candidatesTranslates[3].astype(str)
                           + ':' + df_candidatesTranslates[4].astype(str)
                           + ':' + df_candidatesTranslates[5].astype(str)
                           + ':' + df_candidatesTranslates[6].astype(str))
df_candidates['synonyms'].replace(regex=True,inplace=True,to_replace='nan',value='')
df_candidates['synonyms'].replace(regex=True,inplace=True,to_replace=' ',value=':')
df_candidates['synonyms'].replace(regex=True,inplace=True,to_replace="'",value=':')
df_candidates['synonyms'].replace(regex=True,inplace=True,to_replace=':::',value=':')
df_candidates['synonyms'].replace(regex=True,inplace=True,to_replace='::',value=':')
df_candidates['synonyms'].replace(regex=True,inplace=True,to_replace='.0',value='')
df_candidates['synonyms'].replace(regex=True,inplace=True,to_replace='::',value=':')
df_candidates['synonyms'] = df_candidates['synonyms'].str.rstrip('\:')

In [28]:
df_candidates.head()

,entity,value,synonyms
0,Depute_e,PAGANI Rémy,rémy:pagani:Remy:pagani
1,Depute_e,WENGER Saliha,saliha:wenger:salika:saliha:wenger:Salika
2,Depute_e,ZAUGG Christian,christian:zaugg:zaug:zog:zogg:christian:zaugg:...
3,Depute_e,HALLER Jocelyne,jocelyne:haller:haler:Jocelyne:haller:haul
4,Depute_e,ENILINE Alexander,alexander:eniline:alexander:eniline

In [29]:
# add synonyms to df_commune
df_commune.head()

           value   entity         synonyms
0  aire la ville  Commune  aire:la:ville:1
1        anieres  Commune        anieres:1
2         avully  Commune         avully:1
3          avusy  Commune          avusy:1
4      bardonnex  Commune      bardonnex:1

In [31]:
# import googleTranslates
df_communeTranslate = pd.read_csv('./electionBot_sBox/googleTranslateEntities/commune_translates.csv', delimiter=':', header=None)
df_communeTranslate.head()

           0          1    2   3
0       area   the city    1 NaN
1    anieres          1  NaN NaN
2     avully          1  NaN NaN
3      Avusy          1  NaN NaN
4  bardonnex          1  NaN NaN

In [32]:
# add synonyms to df_commune
df_commune['synonyms'] = (df_commune['synonyms'] + ':' + df_communeTranslate[0].astype(str) 
                          + ':' + df_communeTranslate[1].astype(str) + ':' + df_communeTranslate[2].astype(str) 
                          + ':' + df_communeTranslate[3].astype(str))
df_commune['synonyms'].replace(regex=True,inplace=True,to_replace='nan',value='')
df_commune['synonyms'].replace(regex=True,inplace=True,to_replace=' ',value=':')
df_commune['synonyms'].replace(regex=True,inplace=True,to_replace="'",value=':')
df_commune['synonyms'].replace(regex=True,inplace=True,to_replace=':::',value=':')
df_commune['synonyms'].replace(regex=True,inplace=True,to_replace='::',value=':')
df_commune['synonyms'].replace(regex=True,inplace=True,to_replace='.0',value='')
df_commune['synonyms'].replace(regex=True,inplace=True,to_replace='::',value=':')
df_commune['synonyms'] = df_commune['synonyms'].str.rstrip('\:')

In [33]:
df_commune.head()

           value   entity                         synonyms
0  aire la ville  Commune  aire:la:ville:1:area:the:city:1
1        anieres  Commune              anieres:1:anieres:1
2         avully  Commune                avully:1:avully:1
3          avusy  Commune                  avusy:1:Avusy:1
4      bardonnex  Commune          bardonnex:1:bardonnex:1

In [34]:
# add synonyms to df_liste_CE
df_liste_CE.head()

                 value     entity                                 synonyms
0      LES SOCIALISTES  Listes_CE                  les:socialistes:soc:201
1            LES VERTS  Listes_CE                       les:verts:vert:202
2    ENSEMBLE À GAUCHE  Listes_CE                ensemble:a:gauche:eag:203
3                  MCG  Listes_CE  mcg:mouvement:citoyens:genevois:mcg:204
4  PLR - PDC - ENTENTE  Listes_CE                  plr:pdc:entente:ent:205

In [35]:
# import googleTranslates
df_listeCE_Translate = pd.read_csv('./electionBot_sBox/googleTranslateEntities/listeCE_translate.csv', delimiter=':', header=None)
df_listeCE_Translate.head()

         0            1           2        3     4     5    6    7    8   9
0     them   Socialists         soc      201   NaN   NaN  NaN  NaN  NaN NaN
1      the        green       green      202   NaN   NaN  NaN  NaN  NaN NaN
2  Overall            a        Left      eag   203   NaN  NaN  NaN  NaN NaN
3      mcg     movement    Citizens   Geneva   mcg   204  NaN  NaN  NaN NaN
4      PLR          CDP   Agreement      ent   205   NaN  NaN  NaN  NaN NaN

In [36]:
# add synonyms to df_liste_CE
df_liste_CE['synonyms'] = (df_liste_CE['synonyms']
                           + ':' + df_listeCE_Translate[0].astype(str) 
                           + ':' + df_listeCE_Translate[1].astype(str)
                           + ':' + df_listeCE_Translate[2].astype(str) 
                           + ':' + df_listeCE_Translate[3].astype(str)
                           + ':' + df_listeCE_Translate[4].astype(str)
                           + ':' + df_listeCE_Translate[5].astype(str)
                           + ':' + df_listeCE_Translate[6].astype(str)
                           + ':' + df_listeCE_Translate[7].astype(str)
                           + ':' + df_listeCE_Translate[8].astype(str)
                           + ':' + df_listeCE_Translate[9].astype(str))
df_liste_CE['synonyms'].replace(regex=True,inplace=True,to_replace='nan',value='')
df_liste_CE['synonyms'].replace(regex=True,inplace=True,to_replace=' ',value=':')
df_liste_CE['synonyms'].replace(regex=True,inplace=True,to_replace="'",value=':')
df_liste_CE['synonyms'].replace(regex=True,inplace=True,to_replace=':::',value=':')
df_liste_CE['synonyms'].replace(regex=True,inplace=True,to_replace='::',value=':')
df_liste_CE['synonyms'].replace(regex=True,inplace=True,to_replace='.0',value='')
df_liste_CE['synonyms'].replace(regex=True,inplace=True,to_replace='::',value=':')
df_liste_CE['synonyms'] = df_liste_CE['synonyms'].str.rstrip('\:')

In [37]:
df_liste_CE.head()

,value,entity,synonyms
0,LES SOCIALISTES,Listes_CE,les:socialistes:soc:1:them:Socialists:soc:1
1,LES VERTS,Listes_CE,les:verts:vert:2:the:green:green:2
2,ENSEMBLE À GAUCHE,Listes_CE,ensemble:a:gauche:eag:3:Overall:a:Left:eag:3
3,MCG,Listes_CE,mcg:mouvement:citoyens:genevois:mcg:4:mcg:move...
4,PLR - PDC - ENTENTE,Listes_CE,plr:pdc:entente:ent:5:PLR:CDP:Agreement:ent:5

In [38]:
# add synonyms to df_liste_GC
df_liste_GC.head()

                value     entity                                 synonyms
0   ENSEMBLE À GAUCHE  Listes_GC                ensemble:a:gauche:eag:101
1           LES VERTS  Listes_GC                       les:verts:vert:102
2     LES SOCIALISTES  Listes_GC                  les:socialistes:soc:103
3   LIBÉRAUX-RADICAUX  Listes_GC  plr:les:liberaux:radicaux:geneve:plr104
4  DÉMOCRATE-CHRÉTIEN  Listes_GC   parti:democrate:chretien:(pdc):pdc:105

In [39]:
# import googleTranslates
df_listeGC_Translate = pd.read_csv('./electionBot_sBox/googleTranslateEntities/listeGC_translations.csv', delimiter=':', header=None)
df_listeGC_Translate.head()

         0           1                 2          3        4        5   6
0  Overall           a              Left        eag      101      NaN NaN
1      the       green             green        102      NaN      NaN NaN
2      the   Socialist               soc        103      NaN      NaN NaN
3      PLR         the          Liberals   radicals   Genève   plr104 NaN
4    Party    Democrat   Christian (CDP)        CDP      105      NaN NaN

In [40]:
# add synonyms to df_liste_GC
df_liste_GC['synonyms'] = (df_liste_GC['synonyms']
                           + ':' + df_listeGC_Translate[0].astype(str) 
                           + ':' + df_listeGC_Translate[1].astype(str)
                           + ':' + df_listeGC_Translate[2].astype(str) 
                           + ':' + df_listeGC_Translate[3].astype(str)
                           + ':' + df_listeGC_Translate[4].astype(str)
                           + ':' + df_listeGC_Translate[5].astype(str)
                           + ':' + df_listeGC_Translate[6].astype(str))
df_liste_GC['synonyms'].replace(regex=True,inplace=True,to_replace='nan',value='')
df_liste_GC['synonyms'].replace(regex=True,inplace=True,to_replace=' ',value=':')
df_liste_GC['synonyms'].replace(regex=True,inplace=True,to_replace="'",value=':')
df_liste_GC['synonyms'].replace(regex=True,inplace=True,to_replace=':::',value=':')
df_liste_GC['synonyms'].replace(regex=True,inplace=True,to_replace='::',value=':')
df_liste_GC['synonyms'].replace(regex=True,inplace=True,to_replace='.0',value='')
df_liste_GC['synonyms'].replace(regex=True,inplace=True,to_replace='::',value=':')
df_liste_GC['synonyms'] = df_liste_GC['synonyms'].str.rstrip('\:')

In [41]:
df_liste_GC.head()

,value,entity,synonyms
0,ENSEMBLE À GAUCHE,Listes_GC,ensemble:a:gauche:eag:1:Overall:a:Left:eag:1
1,LES VERTS,Listes_GC,les:verts:vert:2:the:green:green:2
2,LES SOCIALISTES,Listes_GC,les:socialistes:soc:3:the:Socialist:soc:3
3,LIBÉRAUX-RADICAUX,Listes_GC,plr:les:liberaux:radicaux:geneve:plr4:PLR:the:...
4,DÉMOCRATE-CHRÉTIEN,Listes_GC,parti:democrate:chretien:(pdc):pdc:5:Party:Dem...

In [42]:
# add synonyms to df_locals
df_locals.head()

           value       entity         synonyms
0  aire la ville  LocalDeVote  aire:la:ville:1
1        anieres  LocalDeVote        anieres:1
2         avully  LocalDeVote         avully:1
3          avusy  LocalDeVote          avusy:1
4      bardonnex  LocalDeVote      bardonnex:1

In [43]:
# import googleTranslates
df_localsTranslate = pd.read_csv('./electionBot_sBox/googleTranslateEntities/locals_translates.csv', delimiter=':', header=None)
df_localsTranslate.head()

           0          1    2   3
0       area   the city    1 NaN
1    anieres          1  NaN NaN
2     avully          1  NaN NaN
3      Avusy          1  NaN NaN
4  bardonnex          1  NaN NaN

In [44]:
# add synonyms to df_locals
df_locals['synonyms'] = (df_locals['synonyms'] + ':' + df_localsTranslate[0].astype(str) 
                          + ':' + df_localsTranslate[1].astype(str) + ':' + df_localsTranslate[2].astype(str) 
                          + ':' + df_localsTranslate[3].astype(str))
df_locals['synonyms'].replace(regex=True,inplace=True,to_replace='nan',value='')
df_locals['synonyms'].replace(regex=True,inplace=True,to_replace=' ',value=':')
df_locals['synonyms'].replace(regex=True,inplace=True,to_replace="'",value=':')
df_locals['synonyms'].replace(regex=True,inplace=True,to_replace=':::',value=':')
df_locals['synonyms'].replace(regex=True,inplace=True,to_replace='::',value=':')
df_locals['synonyms'].replace(regex=True,inplace=True,to_replace='.0',value='')
df_locals['synonyms'].replace(regex=True,inplace=True,to_replace='::',value=':')
df_locals['synonyms'] = df_locals['synonyms'].str.rstrip('\:')

In [45]:
df_locals.head()

           value       entity                         synonyms
0  aire la ville  LocalDeVote  aire:la:ville:1:area:the:city:1
1        anieres  LocalDeVote              anieres:1:anieres:1
2         avully  LocalDeVote                avully:1:avully:1
3          avusy  LocalDeVote                  avusy:1:Avusy:1
4      bardonnex  LocalDeVote          bardonnex:1:bardonnex:1

In [46]:
# export csv
df_candidates.to_csv('./electionBot_sBox/entities/candidates-Entities_v5.csv',index=False)
df_commune.to_csv('./electionBot_sBox/entities/communes-Entities_v3.csv',index=False)
df_liste_CE.to_csv('./electionBot_sBox/entities/liste-CE-Entities_v3.csv',index=False)
df_liste_GC.to_csv('./electionBot_sBox/entities/liste-GC-Entities_v3.csv',index=False)
df_locals.to_csv('./electionBot_sBox/entities/locals-Entities_v3.csv',index=False)